{% extends 'base.html' %}
{% load static %}

{% block title %}
  {% if category %}
    {{ category.name }}- moviez Tym
  {% else %}
    Moviez Tym
  {% endif %}
{% endblock %}

{% block content %}
  <div class="tail-top">
  <div class="tail-bottom">
    <div id="main">
      <div id="header">
        <div class="row-1">
          <div class="fleft"><a href="#">Moviez <span>Tym</span></a></div>
          <ul>
              <li>
            <form class="form-inline" action="{% url 'search_app:search_result' %}" method="get">
            {% csrf_token %}
            <input class="link2" type="search" name="q" placeholder="Search" aria-label="Search">&nbsp;
            <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </li>
            {% if user.is_authenticated %}
            <li><a href="/credentials/movie_list/">Hello {{user.username}}</a></li>
            <li><a href="/credentials/logout/">logout</a></li>
            {% else %}
            <li><a href="{% url 'credentials:register'%}">register</a></li><!--can use both format-->
            <li><a href="/credentials/login/">login</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="row-2">
          <ul>
            <li><a href="{% url 'movie_app:index' %}">Home</a></li>
            <li><a href="{% url 'movie_app:about' %}">About</a></li>
            <li><a href="{% url 'movie_app:articles' %}">Articles</a></li>
            <li><a href="{% url 'credentials:review_list' %}">Reviews</a></li>
            <li class="last"><a href="{% url 'movie_app:contact' %}">Contact</a></li>
          </ul>
        </div>
      </div>
        <div id="content">
        <div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
    <div class="mx-auto">
        {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="800" height="400">
    </div><br>
    <div>
        <h3>{{category.name}} <span>Moviez</span></h3>
        <p class="p1">{{category.description}}</p>
    </div>
        {% else %}
    <div><br>
        <img class="my_image my_image_padding" src="#" alt="movies">
    </div><br>
    <div>
        <h3>Latest Movies</h3>
        <p class="p1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    </div>

        {% endif %}

<div class="content">
    <ul class="movies">
            {% for movie in movies.object_list %}
            <li class="last">
                <a href="{{movie.get_url}}"><img src="{{movie.poster.url}}" width="200" height="250" alt="{{movie.name}}"/></a>
              <h4>{{movie.name}}</h4>
            </li>
            {% endfor %}
            <li class="clear">&nbsp;</li>
          </ul>

    </div></div></div></div></div>
    <div class="mx-auto">
        {% if movies.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in movies.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if movies.number == pg %}active{% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div><br>
</div>
        <div id="footer">
        <div class="left">
          <div class="right">
            <div class="footerlink">
              <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
              <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
        </div></div></div>
<script type="text/javascript"> Cufon.now(); </script>
{% endblock %}